fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic==2.10.4
langchain==0.2.17
langchain-core==0.2.43
langchain-groq==0.1.10
langchain-chroma==0.1.4
langchain-huggingface==0.0.3
langchain-community==0.2.19
langchain-text-splitters==0.2.4
langgraph==0.2.60
chromadb==0.5.23
sentence-transformers==3.3.1
