fastapi
uvicorn
langchain
langchain-groq
langchain-chroma
langchain-huggingface
langchain-community
langchain-text-splitters       ← add this
langgraph
chromadb
python-dotenv
pydantic
sentence-transformers